$primary-color: #213F7D;
$secondary-color: #545F7D;
$accent-color: #39CDCC;
$alert-color: #E4033B;
$background-color: #ecedf0;

.MainContentContainer{
  width: 90%;
  height: 75%;
  margin-top: 2.5rem;

  .headerContainer
  {
    display:flex;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    justify-content: space-between;
    min-width: 1000px;

    .headerSection
    {
      width: 20%;
      height: 170px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 0.375rem;
    }

    .header
    {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      color: #213F7D;
    }
  
    .header_label
    {
      color: #213F7D;
      font-size: 12px;
      margin-top: 0.75rem;
    }
    .header_values
    {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
      color: #213F7D;
      margin-top: 0.25rem;
    }
  }

  .MainContent{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;
    padding: 1.25rem;

    .MainContentbody
    {
      overflow: auto;
      height: 640px;
      margin-bottom:2.5rem;

      .FilterModal
      {
        position: absolute;
        z-index: 50;
        margin: 0.75rem;

        .closeButton {
          height: 1.25rem;
          width: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 1.25rem;
          float: right;
          padding: 1.25rem;
          color: #DC2626; // text-red-600
          margin: 0.25rem;
        }
        
      }

      .MainContentTable
      {
        min-width:fit-content;  
        width:1100px;
        background-color: white;
        border-radius: 0.5rem;

        .MC_tableRow
        {
          text-align: left;
          color: rgb(75 85 99 / var(--tw-text-opacity));
          font-weight: 600;
        }

        .MenuButton
        {
          display: flex;
          align-items: center;
          justify-content: center;

          .MB_details
          {
            margin-right: 2.5rem;
            position: absolute;
            z-index: 50;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0.375rem;

            .actionButton {
              display: flex;
              align-items: center;
              padding: 0.5rem 1rem;
              color: var(--custom2);
              color: #213F7D;
              opacity: 0.6;
              transition: color 0.2s, background-color 0.2s;
            
              &:hover {
                background-color: rgba(57, 205, 204, 0.1);
                color: #213F7D;
                opacity: 1;
              }
            
              .icon {
                margin-right: 0.5rem;
              }
            
              .text {
                margin-left: 0.5rem;
              }
            }
          }
        }
      }

      .paginationContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
      }
      
      .pageInfo {
        font-size: 0.875rem; // equivalent to text-sm
        color: #545F7D;
      
        .select {
          border: 1px solid #D1D5DB; // border-gray-300
          border-radius: 0.375rem;
          padding: 0.25rem 0.5rem;
          width: 5rem;
          background-color: rgba(33, 63, 125, 0.15); // bg-[#213F7D] with opacity 15%
          font-weight: bold;
        }
      }
      
      .paginationControls {
        display: flex;
        gap: 0.5rem;
        color: #545F7D;
      
        .button {
          padding: 0.25rem 0.75rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
      
          &--number {
            font-weight: normal;
          }
      
          .ellipsis {
            padding: 0.25rem;
          }
      
          .iconButton {
            padding: 0.25rem 1.25rem;
          }
        }
      }
      


    }
  }


}

.userDetailsContainer{
  width: 90%;
  margin-top: 2.5rem;
  height: 75%;

  .backButton{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    .backText {
      color: $primary-color;
    }
  }

  .header {
    width: 100%;
    height: 5rem;

    .title{
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 0.75rem;
      float: inline-start;
    }

    .actionButtons{
      display: flex;
      float:inline-end;

      .blacklistbutton{
        width: 14rem;
        height: 2.5rem;
        border: 1px solid $alert-color;
        color: $alert-color;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.375rem;
        margin-right: 1.25rem;
        transition: background-color 0.2s;

        &:hover {
          background-color: $alert-color;
          color: white;
        }
      }

      .activateButton {
        width: 14rem;
        height: 2.5rem;
        border: 1px solid $accent-color;
        color: $accent-color;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.375rem;
        transition: background-color 0.2s;

        &:hover {
          background-color: $accent-color;
          color: white;
        }
      }
    }
  }

  .contentSection{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    background-color: white;
    

    .contentSection_1{
      display:flex;
      width: 100%;
      align-items: center;
      padding: 5px;
    }

    .container {
      margin-right: 1.25rem;
      border-right: 2px solid #545F7D;
    }
    
    .userName {
      color: #213F7D;
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 1.25rem;
    }
    
    .userId {
      font-size: 16px;
      color: #213F7D;
      margin-right: 1.25rem;
    }

    .container2{
      margin-right: 1.25rem;
      border-right: 2px solid #545F7D;
    }
    
    .userTier{
      font-size: 16px;
      color: #213F7D;
      margin-right: 1.25rem;
    }

    .income {
      color: #213F7D;
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 2.5rem;
    }
    
    .bankInfo {
      font-size: 16px;
      color: #545F7D;
      margin-right: 2.5rem;
    }

    .Container3{
      display: flex;
      margin-left: 1.5rem;
    }
    
    .link_1{
      margin-right: 1.25rem;
      width: 12rem;
      display: flex;
      justify-content: center;
    
      &--active {
        border-bottom: 2px solid #39CDCC;
      }
      .links
      {
        margin-right: 1.25rem;
        width: 12rem;
        display: flex;
        justify-content: center; 
      }
    
    }
    
    
    .tableContainer{
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 1.25rem;
      padding: 1.25rem;
      margin-bottom: 2.5rem;

      .tableSectionheader{
        font-size: 16px;
        color: #213F7D;
        margin-right: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
      }

      .tableSection {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid #ecedf0;
  
        .table {
          margin-bottom: 1.25rem;
          width: 100%;
        }
        
        .tableRow {
          td {
            .infoContainer {
              margin-top: 2.5rem; // For elements in the second row
            }
        
            .table_label {
              font-size: 16px;
              color: #545F7D;
              margin-right: 2.5rem;
            }
        
            .table_value {
              font-size: 16px;
              color: #545F7D;
              font-weight: bold;
              margin-right: 2.5rem;
            }
          }
        }
      }
    }
  }
}

.SidebarContainer{
  .customLink1 {
    padding: 0.5rem 1rem;
    color: #213F7D;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: rgba(57, 205, 204, 0.1);
      color: #213F7D;
    }
  }
  .customLink2 {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #213F7D;
    opacity: 0.6;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
  
    &:hover {
      background-color: rgba(57, 205, 204, 0.1);
      color: #213F7D;
      opacity: 1;
    }
  }

  .customSectionTitle {
    padding-left: 1rem;
    color: #545F7D;
    font-weight: 500;
    font-size: 1rem;
  }
  
  
}


